global:
  domain: argocd.homelab.local
configs:
  params:
    server.insecure: true
    controller.status.processors: 10
    controller.operation.processors: 5
    controller.self.heal.timeout.seconds: 30
    reposerver.parallelism.limit: 2
    exec.timeout: "300"
controller:
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
repoServer:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
server:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 128Mi
